# PORT = # Puerto del Proyecto
# GOOGLE_CLIENT_ID = # Tu ID de cliente de Google OAuth
# GOOGLE_CLIENT_SECRET = # Tu secreto de cliente de Google OAuth
# MAIL_USERNAME= # tu_correo@gmail.com
# MAIL_PASSWORD= # contraseña_de_aplicación_gmail
# JWT_SECRET = # Una cadena secreta para firmar tus tokens JWT
# MONGO_URI = # La URI de conexión a tu base de datos MongoDB
# SESSION_SECRET = # Una cadena secreta para firmar las cookies de sesión