<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container-admin">
        <h1>Área de administración</h1>
        <p>Bienvenido al area de administracion. De acceso exclusivo para administradores como tú.</p>
        <a href="javascript:history.back()" class="back-button">Volver</a>
    </div>
</body>

</html>