<div class="container-register">
    <h1>{{title}}</h1>
    <form action="/api/sessions/register" method="POST">
        <label for="firstName">Nombre:</label>
        <input type="text" id="firstName" name="firstName" required>
        <br>
        <label for="lastName">Apellido:</label>
        <input type="text" id="lastName" name="lastName" required>
        <br>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" required>
        <br>
        <label for="role">Rol:</label>
        <select id="role" name="role">
            <option value="user">Usuario</option>
            <option value="admin">Administrador</option>
        </select>
        <br>
        <button type="submit">Registrar</button>
    </form>
    <p>¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a>.</p>
</div>